@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800
  }
}

@layer components {
  .input {
    @apply bg-[#262c40] shadow-4xl rounded-sm p-2 outline-0 hover:bg-gray-500
  }
  .pcLinks {
    @apply text-xl
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

